html,
body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #F5F5F5;
  margin: 0 auto;
  position: relative;
}

#to-up {
  position: fixed;
  background-color: #5557689E;
  background-image: url(../img/up.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  width: 101px;
  height: 101px;
  border-radius: 50%;
  left: 1rem;
  bottom: 1rem;
  z-index: 10;
}

.header {
  width: 100%;
  height: 90px;
  background-color: #202846;
  position: relative;
}

.main-logo {
  width: 178px;
  height: 70px;
  background-image: url(../img/mountain.png);
  background-repeat: no-repeat;
  border-radius: 35px;
  position: absolute;
  left: 2rem;
  top: .625rem;
}

.menu {
  width: 80%;
  position: absolute;
  right: 2rem;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.menu ul li {
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  padding-left: 3rem;
  float: left;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu ul li.earth::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url(../img/Earth-Vector.svg);
  background-repeat: no-repeat;
  padding-left: 1rem;
  vertical-align: middle
}

.menu ul li:hover {
  color: yellow;
}

.title {
  background-color: #C6C6DC;
  height: 8.75rem;
  position: relative;
}

h1 {
  margin: 0;
  margin-left: 3rem;
  font-size: 3rem;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  color: #202846;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.main-block {
  background-color: #E8E8E8;
  width: 100%;
  padding-top: 1rem;
}

.wrapper-main-block {
  width: 85%;
  margin: 0 auto;
}

.menu-place {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  height: 73px;
  background-color: #F5F5F5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place-text {
  position: absolute;
  font-size: 1.75rem;
  font-family: 'PT Sans', sans-serif;
  color: rgb(00, 00, 00, .6);
}

.triangle {
  width: 34px;
  height: 34px;
  position: absolute;
  right: 1rem;
  top: calc(50% - 10px);
  background-image: url(../img/triangle.png);
  background-repeat: no-repeat;
}

.carts {
  width: 100%;
}

.carts>div {
  width: 100%;
  height: 300px;
  background-color: #BDBDC6;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.carts>div:hover {
  background-color: #AEAEE2;
  box-shadow: 0 0 2rem #AEAEE2;
}

.carts .photo-container {
  width: 485px;
  height: 100%;
  position: relative;
}

.photo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.carts img {
  width: 100%;
}

.description-photo-container {
  width: 665px;
  height: 100%;
  position: relative;
  padding: 1rem;
}

.description-photo {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: calc(100% - 2rem);
  height: 240px;
}

.description-photo h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 2.25rem;
  font-style: italic;
  color: #353C57;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 3px solid white;
}

.description {
  display: flex;
  align-items: center;
}

.description p {
  background-color: #D7D7DD;
  color: #202846;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.375rem;
  height: 184px;
  text-align: center;
  overflow: auto;
}

.star {
  width: 46px;
  height: 46px;
  position: absolute;
  right: 0;
}

.star path:hover {
  fill: yellow;
}

.carts button {
  position: absolute;
  width: 200px;
  height: 60px;
  background-color: #202846;
  border-radius: 30px;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  right: -7rem;
  bottom: .5rem;
  border: none;
}

.carts button:hover {
  background-color: #EF075B;
  box-shadow: 0 0 .5rem red;
}